<!--/*
    Main page in server (home)
    Open for address index.html, or /.

    Rediska4445
*/-->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{fragments/super :: super-head}"></th:block>

    <link th:href="@{/css/styles/home/main-landing.css}" rel="stylesheet" >

    <title>Mizuki</title>
</head>
<body hx-boost="true" hx-ext="head-support">
    <script th:src="@{/js/scripts/home/home.js}" type="module" defer></script>

    <!-- header -->
    <header>
        <div th:replace="~{fragments/header/header-fragment :: main-header}"></div>
    </header>

    <!-- main content -->
    <main id="main-content">
        <div class="tracks-player-wrapper">
            <div th:replace="~{fragments/tracks/tracks-fragment :: tracks-fragment}"></div>
        </div>
    </main>

    <!-- player -->
    <footer id="global-audio-player" hx-preserve="true">
        <div th:replace="~{fragments/player/global-bottom-player :: bottom-player}"></div>
    </footer>
</body>
</html>