<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Mizuki</title>
    <link th:href="@{/css/main-landing.css}" rel="stylesheet">
    <link th:href="@{/css/audio/audio-player.css}" rel="stylesheet">

    <script th:src="@{/js/playlist/track.js}" type="module" defer></script>

    <meta th:name="_csrf" th:content="${_csrf.token}"/>
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <main id="main-content">
        <div class="container">
            <div th:replace="~{fragments/header/header-fragment :: main-header}"></div>
            <div th:replace="~{fragments/tracks/tracks-fragment :: tracks-list}"></div>
        </div>
    </main>
    <footer>
        <div th:replace="~{fragments/player/global-bottom-player :: bottom-player}"></div>
    </footer>
</body>
</html>