<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Mizuka Web - Tracks</title>
</head>
<body>
  <div>Привет, <span th:text="${username}"></span>!</div>

  <ul>
    <li th:each="track : ${tracks}" th:text="${track.name}"></li>
  </ul>

  <form th:action="@{/app/tracks}" method="post" enctype="multipart/form-data">
      <input type="file" name="file" accept="audio/*" required/>
      <button type="submit">Загрузить</button>
  </form>
</body>
</html>